@charset "ISO-8859-1";
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;  
  width: 50%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 15px;  
}

table tbody tr:nth-child(even){background-color: #f2f2f2;}

table tbody tr:hover {background-color: #ddd;}

.sivunvaihto {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: right;
	color: black;
	cursor: pointer;
	background-color: #FFE9AB;
	
}

.tulostaulu {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FFE9AB;
  color: black;
}

.poista{
	color: red;
	text-decoration: underline;
	cursor: pointer;	
}






