
* {
	font-family: Verdana, Arial, Helvetica sans-serif;
}

.veneet {
	border-collapse: collapse;

	border: 1px solid;
	width: 65%;
	margin:auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 15px;  
}

.otsikko {
	text-align: center;
}